[2017-09-16 04:31] TheHollidayInn opened #3 "Feature: Facebook and Google Auth"
We need to add social auth. I'm also open to other auths as well, but Facebook and Google were requested. The requirements are:

1. 1 url, for social auth taking in the name as a param
2. A library to handle controller logic
3. The route must return the JWT. We already use JWT in the normal auth

[2017-09-16 04:32] TheHollidayInn opened #4 "Feature: Favoriting"
Users need to be able to favorite posts. We need:
1. Route to favorite/unfavorite
2. A route to return the user's favorite

[2017-09-16 04:35] TheHollidayInn opened #5 "Feature: Mark post as listened"
We need a separate model to track user listening. This will help create recommendations for our ML algorithms, but will also help us not recommend podcast the user already listened to. Extra points if you have a good solution (probably using Redis) to quickly get what the user listened to.

[2017-09-16 20:04] andrewmarklloyd commented on #4
Currently working on adding the route to favorite and unfavorite. @TheHollidayInn do you want us to assign issues to ourselves?

[2017-09-16 20:49] TheHollidayInn commented on #4
Sweet. Yea, feel free to claim the issue by posting or assigning yourself. There is not model at the moment, but voting works the same way as favoriting should.

[2017-09-16 21:09] andrewmarklloyd commented on #4
Sounds good!

[2017-09-17 16:00] TheHollidayInn opened #6 "Vote controller has old/unused code"
The vote logic is currently in the post controller. We need to organize it into the vote controller and remove the old unused code.

[2017-09-17 16:52] andrewmarklloyd commented on #4
The Post model currently has a score which represents its aggregate upvotes and downvotes. Should a favorite increase the total score for a Post? If so then I'll just increment the total similar to the upvoting/downvoting use case. If not then I'll need to update the Post model to represent the total favorites. Going down that road, how should this impact the recommendations since the Raccoon API

[2017-09-17 17:17] TheHollidayInn commented on #4
1. Let's add a total favorites field rather than adjust to the score.
2. I am working on a few more recommendations engines we will use to incorporate favorites and viewed. Raccoon does a simply k-mean, and we will only use upvotes for that now.

[2017-09-18 04:08] greenkeeper[bot] opened #8 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-18 15:48] TheHollidayInn opened #9 "Architecture: Add Flow"
It is becoming a consensus that Javascript needs to be statically typed to prevent bugs. I'd like to add Flow to this: https://flow.org/. I'm also open to looking in to ReasonJS/ReactReason, but I think that may be front end only.

[2017-09-25 01:49] #4 closed

[2017-09-25 13:27] andrewmarklloyd opened #12 "No test coverage report generated"
#### Steps to reproduce
- run `npm run test:coverage`
- Only tested on macOS Sierra
#### Expected
- Coverage report is printed to terminal as shown below and coverage directory is populated with appropriate metrics
[code]
#### Observed
- Terminal prints "No coverage information was collected, exit without writing coverage information"

#### Possible Fix
- Without too much testing, updating from is

[2017-09-25 17:16] TheHollidayInn commented on #12
I'm fine with updating the library to fix!

[2017-09-26 22:25] edgar971 commented on #5
Here's my initial design:

listened:
- user_id
- post_id
- created_at
- update_at

The post will be marked as listened by calling the route via HTTP :
/:postId/listened

To get what the user listened to you can simply do a simple mongo db query to get all items for that user id?

[2017-09-27 02:47] TheHollidayInn commented on #5
Sounds great to me! That should meet the feature requirements for sure.

As for getting the listened to, that will work, but we will need to cache during the recommendation phase as a mongo query will be very expensive. No need to think about that now. It will overlay the query.

[2017-09-27 03:58] andrewmarklloyd commented on #3
Do you mean the API endpoint should take the name as a param? And what library did you mean?

[2017-09-27 03:59] #12 closed

[2017-09-27 04:01] TheHollidayInn commented on #3
The endpoint should take the name of the social network as a param. For example `/api/v1/auth/facebook`.

Then, I would suggest using factory functions to authenticate/use `passport` if that is still up to date and maintained.

[2017-09-27 04:03] edgar971 commented on #5
Great, I'll start working on that!

[2017-09-27 04:17] andrewmarklloyd commented on #3
Ok that makes sense

[2017-09-27 21:04] dwgate commented on #9
Hi! If no one is working on this, I'd love to give it a shot. Is the intent to have flow on everything in the server directory? Is it required/wanted in config as well?

[2017-09-27 21:46] TheHollidayInn commented on #9
Great! Let's start with the server directory.

[2017-09-28 00:28] TheHollidayInn opened #14 "Create a label system for Issues/PR management"
Open to discussion. Here are some ideas.

1. Help Wanted
2. Investigating
3. In Progress
4. Ready for Review

[2017-09-28 00:42] andrewmarklloyd commented on #14
Some suggestions:
- "Has Dependent PR"
- Not a label, but prefixing with "[WIP]" to indicate Work in Progress prevents merging, which would eliminate "In Progress"
- "Reviewed"

[2017-09-28 03:30] #6 closed

[2017-09-28 16:44] edgar971 opened #17 "Issue: TravisCI not configured properly"
TravisCI is linked correctly but the config seems to be incorrect.

[2017-09-30 23:05] andrewmarklloyd opened #20 "Setup Facebook app"
In order to fully implement #3 (adding social auth), there needs to be a Facebook app created and configured at https://developers.facebook.com

[2017-10-01 03:03] TheHollidayInn commented on #20
To do this, you should just create your own dev account to use for testing, then add the example env vars to the .env.example file. I'll configure the real variables during deploy.

[2017-10-01 15:40] andrewmarklloyd commented on #20
Ok that sounds good.

[2017-10-01 17:51] #20 closed

[2017-10-02 03:52] SupremeRumHam opened #21 "Speed [enhancement]"
Hey everyone,

This probably was discussed on the Slack channel and I just missed it but would love to have the option to pick a different speed for the audio.

[2017-10-02 03:55] edgar971 commented on #21
I believe this is part of the iOS or Android app, not the API itself.

[2017-10-02 04:00] SupremeRumHam commented on #21
Oh sorry, I didn't notice. Still new to programming and Github. Thanks for being nice about it!!

[2017-10-02 04:01] TheHollidayInn commented on #21
Hey @SupremeRumHam!  Thanks for posting :D

@edgar971 is correct. This is something we would need to add to the apps. @themisterholliday has added it to an upcoming iOS release.

Here is the request on Android: https://github.com/SoftwareEngineeringDaily/SEDaily-Android/issues/6. I or someone else will be getting that handled soon!

[2017-10-02 04:03] TheHollidayInn opened #22 "Architecture: Best Practices and Architecture"
Just a note here, that we should set up guidelines for the best practices and architecture we want to follow. We don't have to implemented everything at once, but it would be good to have a plan and outline.

**Update** I have a doc written and will post that soon. Then we can develop tasks based on that. Feel free to post your ideas.

[2017-10-02 04:04] SupremeRumHam commented on #21
Awesome!! Glad to hear it!! If I think of anything else i'll add it, to the right Repo next time too!!

[2017-10-02 14:06] TheHollidayInn commented on #21
Sound great! Closing then.

[2017-10-02 14:06] #21 closed

[2017-10-02 18:07] xbanks commented on #9
Would you consider using TypeScript for your static typing? I haven't personally used Flow, so you may have a great reason for using it. But I figure having some options might be useful.

[2017-10-02 21:39] TheHollidayInn commented on #9
Sure, I'm super open as long as types are fixed :D

Flow integrates into the bable compiler, so I like that I don't have to create separate files, etc. But, if TypeScript has a webpack flow (I'm just not super familiar). I'm open to trying.

We have another JS repo for running "workers/queues" if you are looking for a project to test out Typescript on.

[2017-10-03 14:15] edgar971 commented on #22
I think that's a good idea.

[2017-10-03 14:47] edgar971 commented on #22
Perhaps we should consider [Git Flow ](https://www.toptal.com/software/trunk-based-development-git-flow#git-flow)as the workflow for Git and branching. It's recommended for open source projects to keep high quality and fewer bugs.

[2017-10-03 14:48] TheHollidayInn commented on #22
Ah yea! We should. I use that at work now, and it is great.

[2017-10-04 04:23] #5 closed

[2017-10-04 04:23] #8 closed

[2017-10-12 13:15] joshmorel opened #24 "post.controller.find limit parameter does nothing"
`limit` is a parameter in the `posts.controller` `list` method but doesn't actually do anything. `post.model` expects `limitOption` instead and so the default value of 10 is always used regardless of what is provided.

I think this would be a fairly straight forward fix - but if I wanted to update the tests it gets a little more complicated (see below). So should this be done now, or, since existi

[2017-10-12 21:01] TheHollidayInn commented on #24
Thanks for posting!

If you want, feel free to add a default field to the post data which should help. You can also add a createdAt field on the post during the tests to help with the paging test.

Also, if you want to allow the limit param to take values, that is fine as well. Flow won't break any of these changes.

Is that what you are asking?

[2017-10-13 11:33] joshmorel commented on #24
Sure! I'll take a stab.

[2017-10-14 14:50] joshmorel commented on #17
I've confirmed locally that node 4.8 will not work with the current code base, and do we even care about it? So I would say vote for removing that from the version list when you get the config set up.

[2017-10-14 18:20] jasonify opened #26 "Investigate search solutions (amazon, solr, etc)"

[2017-10-14 19:08] crablar opened #27 "Ad Free Audio Files"

[2017-10-14 19:09] crablar commented on #27
@erikawho  and I have sent the first 40 audio files to Fiverr people.

[2017-10-15 05:28] TheHollidayInn commented on #26
Yesss 👍👍

[2017-10-15 05:32] TheHollidayInn commented on #17
I’m fine to use the latest stable version. I think that is 5.4?

[2017-10-16 23:20] joshmorel commented on #17
Isn't 6.11 the latest with stable LTS version with 8.? soon to be LTC?

Reference: https://github.com/nodejs/Release

[2017-10-17 02:54] andrewmarklloyd opened #29 "Add Google Authentication"
Facebook auth is incorporated in PR #15. Opening this issue to make sure the Google auth is implemented so we can close #3. See #3 for related information.

[2017-10-17 09:38] Tofuus commented on #14
- `Critical`
- `Bite size` Easy bugs for people starting out
-  `Verified` Bugs that have confirmed and reproducible
- `Duplicate`

Different status labels

- Status: Blocked
- Status: In Progress
- Status: On Hold
- Status: Review Needed

Different types

- Type: Question
- Type: Proposal
- Type: Documentation

[2017-10-17 16:27] jasonify opened #30 "Write guide for how to setup backend code + include mini DB dump"

[2017-10-17 19:38] TheHollidayInn commented on #30
The README has instructions.

[2017-10-17 20:21] jasonify opened #31 "If token is invalid should logout user?"
Seems that if the token is invalid user stays logged in.

[2017-10-17 20:21] jasonify commented on #31
frontend issue

[2017-10-17 20:21] #31 closed

[2017-10-19 01:35] crablar opened #32 "Add generated first names to pre-existing users"

[2017-10-19 01:40] crablar opened #33 "Add real names to account creation"

[2017-10-19 01:41] crablar opened #34 "Backend support for real name (first and last) creation"

[2017-10-19 01:42] crablar opened #35 "Investigate Search Options"
Algolia (maybe free because we are Open Source)
ElasticSearch

[2017-10-19 01:42] crablar opened #36 "User Profile Support"

[2017-10-19 01:46] crablar opened #37 "Fix Heroku Deployment"
Heroku is set up with two pipelines:
Backend: https://dashboard.heroku.com/pipelines/fede41a2-4266-4945-ad9b-6dbbc048390a
Frontend: https://dashboard.heroku.com/pipelines/05ed1ae0-571e-459b-bca2-9a3aa3562bc9

Both of these have staging environments (4 total environments)

master is deployed to all 4

Backend environments respond to Postman requests, but not frontend requests

[2017-10-19 12:04] TheHollidayInn commented on #33
Maybe we should survey to ensure users want to use real names? There is probably research on the the benefits as well.

[2017-10-19 12:05] TheHollidayInn commented on #17
Ah, I was thinking npm not node.

[2017-10-19 12:06] TheHollidayInn commented on #34
Isn't this a duplicate of https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/issues/33

[2017-10-19 12:17] #3 closed

[2017-10-19 12:55] joshmorel commented on #30
The mini DB dump is a good idea to get people up-and-running in development.  I guess there are 2 options - using a library like: https://github.com/sharvit/mongoose-data-seed or just provide a json file with instructions to run `mongoimport`.

[2017-10-19 13:12] #17 closed

[2017-10-19 13:29] TheHollidayInn commented on #24
fixed in https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/pull/25

[2017-10-19 13:29] #24 closed

[2017-10-19 13:31] TheHollidayInn commented on #30
We can just add a command to the seed.js file that inserts a bunch of documents. :D Seeding would be good.

[2017-10-20 00:31] #34 closed

[2017-10-20 16:42] joshmorel commented on #9
Here's a good article on why one company chose to use flow. https://www.lullabot.com/articles/flow-for-static-type-checking-javascript

[2017-10-20 17:43] bholagabbar commented on #35
Just for context, we're currently using the default search in Mongoose, visible here https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/master/server/models/post.model.js#L88 . We'd want to do better than this as it isn't very accurate.

@TheHollidayInn Do we have a tagging mechanism of sorts in place? Have a look at https://www.npmjs.com/package/mongoose-text-search

[2017-10-20 17:55] TheHollidayInn commented on #35
We have categories and tags on the Post modal, although we would need to update the mongoose schema. However, the are normalized per WP's sql structure. We would need to denormalize the text to create a text index on them.

[2017-10-20 18:25] bholagabbar commented on #35
Erm just a little confused, how does WordPress fit into all of this?

On 20-Oct-2017 11:25 PM, "Keith Holliday" <notifications@github.com> wrote:

[2017-10-20 18:55] TheHollidayInn commented on #35
Right.. :P Sorry about that. We are writing this into some docs, but to give you context:
1. Jeff posts all podcasts on the main website: https://softwareengineeringdaily.com/ - which is a wordpress site
2. A script pulls from WP to convert the needed information into Mongo (this way we don't have to work with the WP api)
3. The above information is pulled into Post models for Mongo

[2017-10-20 18:55] TheHollidayInn commented on #35
We are hoping to change this in the future.

[2017-10-20 19:13] jasonify commented on #26
Closing this duplicate. More traction here: https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/issues/35

[2017-10-20 19:13] #26 closed

[2017-10-20 21:28] jasonify opened #39 "Remove CommentSchema.statics get method since it doens't get used."
Per this PR:

https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/pull/28/files

[2017-10-20 21:43] jasonify opened #40 "Investigate config variables. Setup .env variables or a better system"
Also should tie into Heroku.

[2017-10-20 21:44] jasonify commented on #40
oops, should be frontend

[2017-10-20 21:44] #40 closed

[2017-10-21 05:43] bholagabbar commented on #35
Ah now I understand. So I'd totally be down for building a new search
microservice. If you feel that's unnecessary, we could potentially modify
the schema, pull in tags, words etc and implement the search within. What
do you think?

On 21-Oct-2017 12:25 AM, "Keith Holliday" <notifications@github.com> wrote:

[2017-10-21 12:50] TheHollidayInn commented on #35
A search microservice sounds great!

[2017-10-23 16:20] jasonify opened #42 "Investigate Pending tests"
Not sure if there should be pending tests.

[2017-10-24 19:00] jasonify commented on #37
Not exactly sure what this part means:

Is that still the case?

[2017-10-24 19:53] crablar commented on #37
All good.

[2017-10-24 19:53] #37 closed

[2017-10-24 20:38] jasonify commented on #42
Now I see they are tests that are 'disabled' and have an _xit_ or _xdescribe_

[2017-10-24 20:39] #42 closed

[2017-10-24 20:45] jasonify opened #44 "Consider adding unique validator at the model level"
Specifically for usernames.

Currently done at the controller level / auth route:

https://github.com/blakehaswell/mongoose-unique-validator

[2017-10-24 21:16] TheHollidayInn commented on #44
Could we do this with mongoose? http://mongoosejs.com/docs/validation.html.

[2017-10-24 21:18] TheHollidayInn commented on #42
We should probably investigate some of those an either remove them or fix them.

[2017-10-24 22:26] jasonify commented on #42
Agreed, I am removing dead/ unused code on the users route btw. If we ever actually use it then we can easily add it back.

[2017-10-24 23:57] TheHollidayInn commented on #14
Created some. I'll keep it simple for now.

[2017-10-24 23:57] #14 closed

[2017-10-24 23:59] jasonify commented on #44
I looked briefly at that and we probably could do it by hand manually (I imagine that's what mongoose-unique-validator is doing)  .

Though as the mongoose docs notes, their `unique` :

**The unique Option is Not a Validator**

But now I kinda don't like that mongoose-unique-validator is using the same value for that :(

[2017-10-25 00:00] TheHollidayInn opened #45 "Add Contributing Docs"

[2017-10-25 00:01] TheHollidayInn commented on #36
@jasonify I think we have all of this correct? We just need the front end now, I believe.

[2017-10-25 00:04] TheHollidayInn commented on #44
Hmm. I mean, we would use the username as an index. But maybe I am missing the flow.

I think this is fine if we handle at the controller level. We can have the controller search, although I would like if mongo threw an error and we caught that.

[2017-10-25 01:13] jasonify commented on #36
For the most part  yeah. There were a few modifications.  I just need to update the new properties on the user model.

WIP: https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/pull/46/files

[2017-10-25 01:21] crablar opened #47 "Event Log"
We should make a global event log to decouple event creation from writing to the database. That will make it easier for people to build applications on top of SE Daily infrastructure.

[2017-10-25 01:21] crablar commented on #47
![evented_sed](https://user-images.githubusercontent.com/1283090/31975748-2f29366e-b8e8-11e7-9dd7-83c82876a23c.png)

[2017-10-25 03:12] jasonify opened #48 "Update User model to not return the password field by default"
Update User model so it doesn't include passwords on find queries..

 Use:  `password: { type: String, select: false }`
And including the password should be explicit, via : `query.select('+password')`

[2017-10-25 03:16] jasonify opened #49 "Add more tests around the /api/users update endpoint"
// TODO: add a test to make sure we can't update
   // username to that of an existing user!

  // TODO: add test so we make sure we can only modify our
  // own data. (I've been testing this edge case  with postman).

[2017-10-25 15:28] crablar commented on #47
@andrewmarklloyd Google PubSub also an option as you pointed out

[2017-10-25 15:39] TheHollidayInn commented on #47
Adding web hooks to the api is also an option, but I do like the separated event service. Are there some recommended kafka hosting?

[2017-10-25 15:40] crablar commented on #47
@TheHollidayInn https://www.heroku.com/kafka

[2017-10-25 16:25] TheHollidayInn commented on #47
Of course :P

[2017-10-25 20:40] jasonify opened #50 "Add required fields / validator once mobile apps get updated."
Currently will only be validated on updates but we eventually want to require these fields: `[username, email, name] `

What do you guys think? If we are using "real names" to display in the app we should require that field, otherwise we can use username (at the moment probably contains emails so that's why I'm adding name).

 I can see leaving email as optional. Seems a bit weird to have both ema

[2017-10-25 21:25] jasonify commented on #48
Tried doing this and it broke stuff so I am going to punt it and research it later.

[2017-10-26 00:36] crablar opened #53 "Storing Data on Listens"

[2017-10-26 00:42] crablar commented on #53
We need to track how long each user makes it through each episode.

This is a useful signal for how interested a given user is in a given topic. Once we have it implemented, we can do collaborative filtering in a way that doesn't require upvoting.

One way is to log the farthest timestamp that a user makes it to. Then, divide that by the length of the episode. That will give you a double represent

[2017-10-26 01:25] TheHollidayInn commented on #53
We are implementing this on the apps, but my intention was local storage.

If you just want do know for analytics purposes, we currently track play/pause events into firebase analytics. I's possible to add the userId to users if we aren't already. Firebase has a SQL query api that we can use for machine learning and exports.

If we want the data ourselves this sounds like a good use case to link u

[2017-10-26 02:26] andrewmarklloyd commented on #53
Sounds like #47 is becoming more relevant

[2017-10-26 05:41] crablar opened #54 "Set Up Mlab Regular Backups"
Just in case we break anything

[2017-10-27 01:08] #48 closed

[2017-10-27 01:08] jasonify opened #56 "API should not return passwords"
Even if encrypted & even if returning my own password hash.

It seems it still does return hashed passwords in certain cases.

This method did not work:

https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/issues/48

Reproduce on frontend by looking at Vuex in chrome and seeing "me.password" field

[2017-10-27 01:13] jasonify opened #57 "Fix deprecated mongoose warning"
(node:23702) DeprecationWarning: `open()` is deprecated in mongoose >= 4.11.0, use `openUri()` instead, or set the `useMongoClient` option if using `connect()` or `createConnection()`. See http://mongoosejs.com/docs/connections.html#use-mongo-client

[2017-10-27 23:10] sw-yx commented on #33
well if you're gonna make real names optional you dont really need a survey. so the real question is are you making real names mandatory?

either way im not clear what we are optimizing for here. i dont much care really, i'll just provide whatever my oauth method of chocie provides by default

[2017-10-28 03:51] jasonify opened #58 "Add support for picture uploading for users profile"
S3 probably

[2017-10-28 09:33] joshmorel opened #59 "add facebook auth strategy for web"
Okay - I got a bit confused over this one and responded posted too quickly (web vs mobile facebook auth). But this morphs my issue into a new one - If we're going to use facebook mobile token auth should we not be implementing web based as well? I'm willing to give it a try.

<del>I'm trying to get the API documented up-to-speed with swagger/jsdoc and am struggling with Facebook auth. It doesn't f

[2017-10-28 15:34] andrewmarklloyd commented on #59
I agree that we need to implement the client side oauth2 for the web to match both the mobile clients

[2017-10-29 01:09] TheHollidayInn commented on #59
The reason is we don’t not use redirects via server side. Mobile and the front end js both handle redirects locally then send the OAuth token to the api for authentication

[2017-10-29 23:48] joshmorel opened #60 "Intended use of favorite vs upvote/downvote"
What's the intended use of favoriting vs upvote/downvote?

I see the use of upvote/downvote as similar to youtube which makes sense. Why also have favoriting? From my perspective, you would have one function or the other in an app, but not both.

Similar but perhaps semantically more meaningful might be "bookmark", which could be used if you want to keep as a list eps to listen to later,  eps you

[2017-10-30 02:05] TheHollidayInn commented on #60
Upvote is definitely different than favoriting. Bookmarking is a better terminology because Twitter has obscured that, but that are still different.

[2017-10-30 05:14] andrewmarklloyd opened #61 "Duplicate mongo services in docker-compose.yml"
There are two mongodb services declared in the docker-compose.yml file: a [mongo 3.5](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/docker-compose.yml#L4) and a [mongo 3.4.2](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/docker-compose.yml#L43). This makes it confusing as to which container hostname to use in the [

[2017-10-30 18:25] joshmorel commented on #60
One place that uses both is Stack Overflow. Basically you can upvote questions, answers and comments but star (favorite) only questions. I think we could employ a similar pattern - using downvoting/upvoting on episodes and comments but favoriting on episodes only. I don't see it in use in the front-end apps yet but I can describe it for such in the swagger docs (should have PR today or tomorrow).

[2017-10-30 21:19] TheHollidayInn commented on #58
Definitely s3

[2017-10-30 21:20] TheHollidayInn commented on #33
Jeff is thinking we don't make the optional, that is why I suggested a survey.

[2017-10-30 21:48] crablar commented on #33
When Quora was getting off the ground, I followed the debates around their mandatory real names policy closely.

If you go back through all the online communities that have gotten popular in the last 20 years there is a clear link between complete anonymity and trolls/negativity.

Ideally, we would have a granular anonymity system like Quora. That takes a ton of engineering horsepower to do correc

[2017-10-31 00:24] sw-yx commented on #33
sorry, what is granular anonymity in this context? im a quora user but this phrase doesn’t immediately make sense.  keen on how to get this community management right too. can also consider erring more restrictive first and then loosening gradually

[2017-10-31 00:28] crablar commented on #33
Quora lets you be anonymous for specific answers, but they have policies about when they can deanonymize you (like to ban you).

[2017-11-01 13:53] joshmorel commented on #22
From looking through everything I have a few comments about structuring of the api code with regards to controllers, routes and models.

* It seems like there is repetition across the model and controller methods as well as inconsitency in terms of usage. For example  `vote.controller.list` uses `vote.model.list` but `vote.controller.upvote` uses just mongoose methods. It would be helpful for cont

[2017-11-01 14:18] TheHollidayInn commented on #22
Yea, I agree for the most part. We will want to expand to one of the better clean/hex patterns.

The controllers are separated from the routes, which was the main point, but have the repetition on the model doesn't make much sense as the controller is kind of like a repository. It does keep express separated from mongoose though, which is good.

By co locate, do you mean organize by entity? As in

[2017-11-02 00:04] joshmorel commented on #22
It might help to define the responsibilities of each component. From my understanding:

* **controllers**:  provide logic for responding to requests to each route (or more, basically, the route callback function)
* **models**: provide relationship between app and database with data access methods
* **routes**: the actual http routes

I'm fine with the route/controller separation because it's consi

[2017-11-02 18:52] TheHollidayInn commented on #22
I'm not really following what improvements you are wanting to make. Are you just saying there is too much connection between one to one methods? As in, route list -> list method on controller -> list method on the model.

Currently things are in a standard MVC/Express flow. Your responsibilities are pretty much correct, but as we expand, we introduce layers in between controllers and models (Domai

[2017-11-03 11:58] joshmorel commented on #22
Yes I think an example would help a lot with getting on the same page. 🙂  I'll apply it to a small feature with documentation and we can discuss around a PR.

[2017-11-06 02:34] sgundlapalli11 commented on #61
Hi, I'd like to take this on if possible. Is only the more recent version supposed to remain in the docker-compose.yml?

[2017-11-06 03:37] andrewmarklloyd commented on #61
@TheHollidayInn which version is used in production?

[2017-11-06 03:48] andrewmarklloyd commented on #61
I would assume the first service (the 3.5 version) would be the one to keep

[2017-11-06 04:31] TheHollidayInn commented on #61
@sgundlapalli11 Please do! Thank you

@andrewmarklloyd I think we are on 3.4.10 actually. That is the latest stable.

[2017-11-07 02:30] crablar opened #69 "Rename Heroku Prod Instance"
software-enginnering-daily-api -> sedaily-backend

[2017-11-07 02:38] TheHollidayInn commented on #69
I don't think you should post these kind of things here. You should just rename the heroku instance :P. We can't fix this with a PR.

[2017-11-07 04:22] crablar commented on #69
I want to test it after renaming it, but was in the middle of something so I wanted to write it down before I forgot.

[2017-11-07 05:45] TheHollidayInn commented on #69
also, I'd recommend probably keeping the api name as we will have multiple backends :P

[2017-11-07 13:31] joshmorel opened #70 "get user/:userId exposes user info that should be hidden"
This wasn't a problem previously, because `/users` wasn't used in `index.route.js`. But now that it is, a call to `api/users/:userId` will return all user info even if you're not that same user or even logged in.

Something that might address this as well as support issues #36 and #56 going forward, could be a `toAuthJSON` and `toProfileJSON` functions which would only expose those elements to the

[2017-11-07 13:51] joshmorel commented on #22
I don't have anything yet to share unfortunately... I've been doing a bit of research while trying out different things and this seems like the most appealing option, applying Uncle Bob's [clean architecture](https://medium.com/@dtinth/clean-javascript-using-use-case-interactors-f3a50c138154) with similarities also to Alistair Cockburn's hex architecture.

Basically the idea is that you put the co

[2017-11-07 15:10] TheHollidayInn commented on #54
This is done, correct?

[2017-11-07 15:23] crablar commented on #54
Yep!

[2017-11-07 15:23] #54 closed

[2017-11-07 16:18] crablar commented on #70
Are there sensitive fields that need to be hidden?

[2017-11-07 16:31] TheHollidayInn commented on #22
Yep! You are in the right path. I mentioned both of those architectures above. But you do grow into them for small projects. The main guides are keeping the SOLID patterns, removing code smells and keeping business logic out of MVC. They both have books on the subjects

[2017-11-07 18:55] crablar opened #71 "User Cannot Retrieve or Reset Password"
A user called ambrosi9 pinged me on Slack and said they cannot login and aren't sure what to do.

We need to set up password reset via email.

Is there an ad hoc solution that we can implement to get ambrosi9 back online?

[2017-11-08 13:00] joshmorel commented on #70
As a user I probably woudln't want my email exposed and I don't think the password hash should be exposed. There may be others as well... it probably would be worth explicitly setting things as private (email) vs public (username, profile image, bio).

Having users decide what is private/public (some may want email/full name as public, others not) increases complexity but may be worth considering

[2017-11-08 13:01] joshmorel commented on #22
Cool I'll do some more research but leave this on the back-burner/low-priority for now.

[2017-11-08 15:00] crablar commented on #70
Good point. Adding @jasonify for visibility.

[2017-11-08 16:36] jasonify commented on #70
Ah yeah, we don't want to be exposing either of these.  For now we can omit the password hash + emails by default as a quick solution.

Though if we add a note to the email being public (like on github for example), that might be okay too.  Not sure how much of a problem email scrapers are these days.

[2017-11-08 16:38] jasonify opened #75 "Further refactor votes"
Currently the implementation is not ideal.

Here is an example on one idea on how to make it a bit cleaner:

https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/pull/72

[2017-11-08 16:39] jasonify opened #76 "Group querying for child / reply comments"
Right now we loop through parent comments and make a query for each of them to get their children. What we really should be doing is making 1 query that grabs  all the ids of the parents and then we make a second query to fetch all the children. So two queries instead of `number-of-parent-comment-queries`.

[2017-11-08 18:03] crablar commented on #70
The difference is that you can opt out of public email on Github.

[2017-11-08 18:42] jasonify commented on #70
True, we should hide them for now until we add that functionality.

[2017-11-08 23:36] jasonify opened #77 "Dates seem to be off by one"

[2017-11-09 04:14] sgundlapalli11 commented on #76
I would like to take this on if possible.

 Just to understand where the issue is, is [this](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/5664f36eb976aabb76c58d03a4375b92fd5c680a/server/controllers/comment.controller.js#L107) where we are looping through the parent comments?

[2017-11-09 04:16] sgundlapalli11 commented on #61
The PR got merged in for this. Do we close this issue now?

[2017-11-09 15:40] #61 closed

[2017-11-09 18:11] jasonify commented on #76
Perfect and yeah exactly that :) .  The last two functions on the Controller.model : https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/5664f36eb976aabb76c58d03a4375b92fd5c680a/server/models/comment.model.js

Note the lean() call, we modify those objects when populating the votes.

Most of this logic could also be moved to the model like in the Post model.

[2017-11-09 20:29] sgundlapalli11 commented on #76
To approach this problem, I was going to add a method to take in all the `parentComments` and return `childrenComments`. I would make the query similar to [this](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/1af5323b6f181a40015bb2023d3aabfd7159aeae/server/models/comment.model.js#L153) to return multiple documents?

Something I see we may have to do, is when we hav

[2017-11-09 21:09] jasonify commented on #76
👍  That's right, we just want to avoid the multiple queries

[2017-11-09 23:43] jasonify opened #79 "Write tests to check that comment replies work"

[2017-11-09 23:46] jasonify opened #80 "Write tests to check that you can like / upvote comments and their replies"

[2017-11-09 23:52] jasonify opened #81 "Ensure Docker is still working correctly (with swagger deps)"
Was sent this, will need to double check what's going on but might just need to have instructions on how to reload npm install inside the container
<img width="1113" alt="screen shot 2017-11-09 at 3 52 14 pm" src="https://user-images.githubusercontent.com/150265/32635634-fbb1d978-c565-11e7-9380-a4abd8b791ba.png">

[2017-11-10 01:29] crablar opened #82 "Add Dates To Search Index"
So people can also search "February 19" for example

[2017-11-10 18:30] justinctlam opened #83 "Support including favorite/bookmark value in the /posts api"
Is it possible to get back the favorite/bookmark status of the podcast/post when calling the /posts api? Seems a bit inefficient to have to make another /favorites call after getting the /posts items. Thoughts?

[2017-11-10 18:45] jasonify commented on #83
👍  Yeah, and it should be pretty similar to how we do it for votes.

[2017-11-10 20:09] andrewmarklloyd commented on #81
When new dependencies are added you have to run `docker-compose up --build, which installs the dependencies in the container per the Dockerfile. Submitted a PR to address this

[2017-11-10 20:13] jasonify commented on #81
Awesome thanks!

[2017-11-10 20:13] #81 closed

[2017-11-10 21:48] jasonify opened #85 "Swagger Errors - schemaValidationMessages"
{"schemaValidationMessages":[{"level":"error","message":"Can't read from file /api/docs/swagger.json"}]}

[2017-11-11 05:26] justinctlam opened #87 "API route for /favorite/{postId}"
I think it might be useful to have an API to get the favorite state of the specific postId.
Perhaps a /favorite/{postId}?

[2017-11-12 18:42] andrewmarklloyd opened #88 "Add versioning to API endpoint"
Should we consider versioning the API. For example changing [`app.use('/api', routes);`](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/config/express.js#L53) to something like `app.use('/api/v1', routes);`

[2017-11-13 18:07] jasonify commented on #88
I've thought about this a few times considering the difference between the mobile clients + web.

I am just not sure we are quite there yet.
I am also not sure we would want to maintain the old versions of the API for long, unless we make the API more "public".

How would you imagine the rest of the codebase should be handled if we do version the API? Maybe we can work it out with an example scena

[2017-11-13 19:12] andrewmarklloyd commented on #88
Yeah that actually makes a lot of sense. I guess versioning the API is more for public facing API's. Versioning would require a lot of restructuring of the code base which we don't want to invest in. We should close the issue, but at least this was brought up.

[2017-11-13 20:07] jasonify opened #90 "Track Related Link Clicks + Sort by most clicks"
Sort the links by number of clicks and date created .

[2017-11-13 23:51] joshmorel commented on #83
I'll give this a stab. @jasonify  feel free to assign me.

[2017-11-14 04:06] #88 closed

[2017-11-16 19:22] sgundlapalli11 commented on #76
Still working on this, just haven't been able to dedicate much time to it. Just wanted to post here to keep it updated.

[2017-11-17 00:01] samuelrey opened #95 "Change GET favorites/ to return list of post JSON objects"
At the moment, the endpoint returns a list of favorite objects that look like
[code]
But the posts themselves displayed, not the favorites.

[2017-11-17 00:54] joshmorel commented on #95
This definitely makes more sense to me. I'm working on something related see #83 and will work on this next once that is done (unless someone wants to take this on).

I assume you would only want those that have active=true for the authenticated user, correct?

[2017-11-17 01:55] joshmorel commented on #83
I'm working on implementing this and trying to find the best way to integrate this into the post model list method, which already has a lot going on.

I'm wondering if instead of having the favorite.model we use the [approach recommended here](http://seanhess.github.io/2012/02/01/mongodb_relational.html) with favorite relationship in both the post & user document. I come from an RDBMS background w

[2017-11-17 13:40] joshmorel commented on #83
I have a WIP branch to show how this would work. So far I've updated the user & posts model to have favoritedPosts & favoritedBy reference arrays respectively. I updated posts/{id}/favorite & posts/{id}/unfavorite paths to show how that part would work.

It's a bit simpler IMHO but that won't be the major benefit. That will come with querying by user or post - it should be a lot simpler than the s

[2017-11-17 19:24] joshmorel commented on #83
This seems like the best I've found on the two options for storing a [many-to-many association](https://github.com/JKHeadley/rest-hapi#many_many-data-storage) with MongoDB/Mongoose.

They favour using separate collection as the default for technical reasons at the expense of human readability... so I'll do more work tomorrow to figure out what is the best for our use case. Sticking with separate c

[2017-11-17 20:31] samuelrey commented on #95
Read through the issue you linked. Relating the users to posts via bookmarks is definitely a larger problem than the one I've brought up here. I'm not familiar with mongo, but it seems like you've got a grasp on the situation.

@jasonify and I spoke yesterday & he agreed to take on this issue, but thanks for the help 😄

As for the active=true bit, I'm actually not sure what the value is meant to r

[2017-11-17 21:31] jasonify commented on #95
@samuelrey , let's have @joshmorel  handle this one

[2017-11-18 14:08] joshmorel commented on #83
Turns out virtuals provides the best of both worlds - it supports MongoDB storage best practices with associative collections while enabling the ease of querying of associative embedded references as can be see in PR.

We  should consider this for future work and potentially for existing code.

[2017-11-18 15:09] joshmorel commented on #85
When exactly is this happening? Would be happy to help trouble shooting but it's not happening for me.

[2017-11-18 17:07] jasonify commented on #85
I believe it is happening at the bottom of the /api/docs page. You might have to click to expand:

https://software-enginnering-daily-api.herokuapp.com/api/docs

Should have clarified that. Maybe this is expected?

[2017-11-18 22:53] crablar commented on #83
@jasonify Justin is blocked on this--could you help him out this coming week?

[2017-11-18 23:52] joshmorel opened #99 "add bookmark routes and deprecate favorite"
The consensus is "bookmark" is the term to use in place of "favorite". We should duplicate all `favorite` relate routes for `bookmark` and deprecate `favorite`.

[2017-11-19 13:52] joshmorel commented on #87
If we implement this route it should return:

* 204 No Content: if bookmarked/favorited by authenticated user
* 404 No Content: if not bookmarked/favorited by authenticated user

From the client perspective, would this or including the `bookmarked` attribute in GET /posts/{postId} be more helpful?

#83 should be merged in develop soon, which will include a `bookmarked` attribute for the authentica

[2017-11-19 17:07] justinctlam commented on #87
I can try using the api for #83 first. I’m just thinking how we would handle this if the user grabs the post first, then logs in. Then we will need to get the post again to get the bookmark, is that right?

[2017-11-19 17:34] justinctlam commented on #87
I guess this would be the same as getting the user’s vote choice as well.

[2017-11-19 17:50] crablar opened #101 "Creating "profileFeed" Links"
I am implementing a public facing profile and would like each user's profile to display the links that they are the author of. See: https://github.com/SoftwareEngineeringDaily/sedaily-front-end/issues/114

I would like to make the following changes to the API:
-add a new object to each user's entry in the "feeds" collection called profileFeed
-when a user adds a relatedLink, that link gets added t

[2017-11-19 22:41] joshmorel commented on #87
There will be a variety of information about the user-post relationship. This includes bookmarked status, votes, listened status, and more potential later (timestamp upon close maybe?).

We should decide on an ideal way to expose this to the client. If the user is authenticated, currently we have `upvoted`, `downvoted` and soon `bookmarked`. I think there are a few decisions worth considering from

[2017-11-19 22:48] justinctlam commented on #87
I like #1, as the user scope makes it easier to understand and reason with.

For the second API, I like #2, because this will save bandwidth by not getting redundant data. Or maybe, give the option to get all of together or just the data we need. So either I can get the entire post with user data or just post or just user data.

[2017-11-20 18:52] #83 closed

[2017-11-20 23:52] joshmorel commented on #85
It's not very obvious but an online swagger validator will be called in swagger-ui by default to check your swagger docs against the official spec. See: https://github.com/Orange-OpenSource/angular-swagger-ui/issues/43

It requires however a url, set in the `SwaggerUIBundle` config, that is both public and absolute. I currently set it up as relative... Either we can:

1. Programatically make it ab

[2017-11-21 00:23] joshmorel commented on #87
As we move from MVP this might be a good opportunity to give Swagger Hub a try to map out what an our consistent API design might look like prior to more API development. I'll get something set up then let you know.

But since I'm here, for item 2, I think if we want user info only specific to a post/episode I think being very explicit with /posts/{postId}/user makes sense while for posts, we can

[2017-11-21 02:28] justinctlam commented on #87
Sounds like a plan. Thanks for the API support! : )

[2017-11-21 13:56] joshmorel commented on #95
I'm starting to work on this and I'm wondering if grouping these routes returning user-specific lists make more sense to group under user. Note I'll use the term bookmarks/bookmarked as this is label we're moving towards.

So for example:

* `/api/users/bookmarked`: Returns list of bookmarked posts for authenticated user. Later we can add relatedLinks, or query parameters to return the types of it

[2017-11-21 15:09] samuelrey commented on #95
The most RESTful design would be to use `api/users/{userid}/bookmarks` for all users. See https://cloud.google.com/apis/design/

[2017-11-22 13:11] joshmorel commented on #95
I'll implement this request api/users/{userId}/bookmarked. We can decide what we want to do with GET api/favorites

I still wonder if a "me" shortcut might still be beneficial for client developer convenience. @jasonify do you have a preference?

[2017-11-22 16:18] joshmorel commented on #60
Closing issue as it seems were moving forward with "bookmarking" with additional features

[2017-11-22 16:18] #60 closed

[2017-11-22 16:54] jasonify commented on #95
Yeah I prefer that personally. I am using `api/users/me` for the api already here:
https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/server/routes/user.route.js

[2017-11-23 20:16] justinctlam commented on #87
Hi, I saw there was a commit to return bookmark value when getting posts. But when I call the API I don't seem to see the value. Has this change been deployed? Just wanted to double check.
Thanks.

[2017-11-23 21:29] jasonify commented on #87
@justinctlam  it has not been pushed (I don't think) :/

I've queued up a few changes that should go live on Monday. Sorry about that.

[2017-11-25 12:56] joshmorel opened #105 "pre-commit linting"
To keep all the code nice and consistent across dev environments I think we should take advantage of eslint and use [lint-staged with husky](https://github.com/okonet/lint-staged#installation-and-setup) to fix linting problems prior to file commit.

This should be as simple as following the three steps in the link above.

[2017-11-30 17:33] jasonify opened #109 "Figure out how to turn off extra logs for backend."
...

[2017-12-04 00:30] justinctlam commented on #95
Going back to the original comment, GET favorites/ is returning a list of items with postId for favorites/bookmarks.

Couple of questions:

*  Is GET favorites going to be renamed to GET bookmarks?
    * Same question for POST favorite and POST unfavorite
*  Can we get the entire post data returned from the GET API?
     * This is because we don't want to do individual network fetches to get the p

[2017-12-04 03:18] justinctlam commented on #95
Also, I don't quite understand why we have active=false posts in the response data. I think it's better to just have active=true response data as mentioned above. This will make it clean and clear that the items returned from the list are actually favorited.

[2017-12-04 16:52] crablar commented on #95
@justinctlam Yes--we should rename favorites -> bookmarks everywhere. And I think it's fine to get the entire post data.

As far as "active", I don't know what that field means. @jasonify ?

[2017-12-04 17:25] jasonify commented on #95
For the votes the "active" field is supposed to be similar to how you have a "deleted" field so you don't actually delete anything. I assume it's the same here?  I do think it's somewhat confusing .

[2017-12-04 19:28] justinctlam commented on #95
Great! Thank you! Please let me know when these APIs get updated.

[2017-12-06 11:44] joshmorel commented on #95
For all new routes I've been using bookmark(s/ed). But for existing ones, for example to bookmark a post, it is still favorite. I can create synonym routes for these in separate PR - related to issue #99

Eventually we should remove the "favorite" ones but definitely not right away.

Let me know if this is a worthwhile next thing to do after #117 .

[2017-12-06 19:25] justinctlam commented on #95
@joshmorel Have you already submitted the new Android changes? If not, we should update the APIs now before release and change our code asap. Otherwise, maybe the API team can leave the favorites but deprecate the APIs in a month or two for your changes to propagate.

[2017-12-09 17:44] joshmorel commented on #95
I haven't been working on Android so I'm quite sure where that's at.

This was my thought, for example for bookmarking a post, we'd support both of these:

* `/api/post/{postId}/favorite`
* `/api/post/{postId}/bookmark`

We can also add a deprecated flag in swagger for the first. But this way all the different clients can switch their routes to use bookmark when it is convenient. I don't think a b

[2017-12-11 01:06] justinctlam opened #121 "Unfavoriting/unbookmarking doesn't work on dev servers"
Doesn't seem like unfavoriting/unbookmarking is working correct on the dev servers, but is ok on prod servers. Can someone double check? @jasonify @joshmorel

[2017-12-11 05:00] jasonify commented on #121
@joshmorel  so the new changes are on staging/dev server so I am wondering if it could be related to the latest changes to the bookmark API

[2017-12-12 14:30] joshmorel commented on #121
I will check tonight. I didnt touch existing favorite routes which may be the issue. @justinclam what route are you using?

[2017-12-12 21:00] justinctlam commented on #121
https://sedaily-backend-staging.herokuapp.com/api/docs/#/favorite/post_posts__postId__unfavorite

[2017-12-13 00:44] joshmorel commented on #121
What specific error are you getting? I've tested `develop` locally and also manually run some requests against staging with no issues.

FYI - here is a postman collection I created for SED, as well as a staging environment if you use postman:

https://gist.github.com/joshmorel/ab861866ccb478a449ce2936d7445533

[2017-12-13 00:47] justinctlam commented on #121
I don't get an error when calling the API but when I query for bookmarks using /users/me/bookmarked, I still see the post even though I unfavorited it.

[2017-12-13 11:49] joshmorel commented on #121
Oh I see. It all makes sense now. I even wrote a test for this case but the test wasn't properly written. :man_facepalming:

Opening PR.

[2017-12-13 23:23] #121 closed

[2017-12-13 23:36] jasonify commented on #121
PR Should be merged and on staging, @justinctlam  :)

[2017-12-14 17:08] jasonify opened #126 "Saw register / unit test fail, strange"
But travis was acting weird yesterday so maybe worth keeping eye out for this.
<img width="1201" alt="screen shot 2017-12-14 at 9 08 06 am" src="https://user-images.githubusercontent.com/150265/34004964-5285c940-e0ae-11e7-81dd-f1ba291e19ed.png">

[2017-12-14 18:48] justinctlam commented on #121
Looks good guys! Thanks!

[2017-12-17 17:08] joshmorel opened #129 "Add SEND_GRID_KEY to env examples"

[2017-12-17 18:48] joshmorel commented on #95
@justinctlam - this issue is resolved right? I figure we should close it. But also FYI PR #131 now provides all the previous favorite routes as bookmark as well.

[2017-12-17 18:50] justinctlam commented on #95
Yes, feel free to close. Thank you!

[2017-12-18 17:56] jasonify commented on #129
ahh, good catch

[2017-12-18 18:14] #129 closed

[2017-12-21 00:18] #105 closed

[2017-12-21 00:30] jasonify opened #133 "Posts sometimes return no 'score' property though they should return zero"
Not sure why they wouldn't, the miner doesn't add this field but we should return zero if no votes are being set:

https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/server/models/post.model.js#L60

[2017-12-21 21:15] jasonify opened #134 "Remove usage of .lean in codebase since it doesn't honor default values"
Use toObject instead. See this issue:

https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/issues/133

[2018-01-13 03:16] #101 closed

[2018-01-13 03:24] #71 closed

[2018-01-15 22:49] #99 closed

[2018-01-15 22:49] #95 closed

[2018-01-15 22:49] #87 closed

[2018-01-15 22:49] #70 closed

[2018-01-15 23:01] crablar opened #146 "Fix m4a files"
------------------ Digital Nomadism with Michael Rosenthal
************************ http://traffic.libsyn.com/sedaily/michael_rosenthal_final.m4a?_=45
------------------ Building a Marketplace for Engineers with Breanden Beneschott
************************ http://traffic.libsyn.com/sedaily/toptal_edited-2.m4a?_=24
------------------ Internet Future with Vint Cerf
************************ http://tr

[2018-01-24 20:13] jasonify opened #152 "Recommended podcasts API endpoint might be broken"
Either that or the clients are all not working.

[2018-01-25 02:56] jasonify commented on #152
Was a frontend issue.

[2018-01-25 18:04] #80 closed

[2018-01-25 18:36] crablar commented on #152
@jasonify I think something strange is still happening. On iOS, the "Most Viewed" list is identical to Recommendations

[2018-01-25 18:38] jasonify commented on #152
Strange, it's different for me :/

[2018-01-25 18:39] jasonify opened #153 "Fix or remove pending tests"
npm run tests has about 3 pending tests.

[2018-01-25 20:29] crablar commented on #152
Oh I am logged out, fixed

[2018-01-25 20:29] #152 closed

[2018-01-27 20:54] crablar opened #154 "Job Board MVP (Backend)"
- Jobs model
- Jobs PUT, GET(without id for all of them(pagination), with id for single job), DELETE
- /jobs/[id]/apply ?

[2018-01-29 18:57] crablar opened #155 "Run Script for Problem with Username/Emails, then Validate Fix"
This was a problem we encountered late last year. We wrote a fix, but never executed the script in production.

[2018-02-03 15:47] joshmorel opened #156 "user/{userId} include ownUser boolean"
Working on the front-end to add public profile for any user. I'd like to conditionally display an "Edit Profile" link if it's the authenticated user's own user being viewed.

Given the current front-end, I'd need to make a call to `user/{userId}` and `user/me` which is not a huge issue, but an unnecessary api call.

There are two alternative options here as far as I can tell:

* Change front-end t

[2018-02-10 00:19] joshmorel commented on #156
After doing some work on the jobs board - I've identified that a more versatile option would be to just return the user's own id with the login call. Right now only the token is returned.

This way on whichever front-end and for whatever feature you can just use that id to compare vs the userId of any data object (job, comment, profile, etc) to affect the view.

@dfcook any thoughts?

[2018-02-10 00:32] joshmorel commented on #156
Edited:  While working on the job MVP, I'll try to figure out if this is necessary or not. But thoughts on best practices for this scenario wouldn't hurt!

[2018-02-10 12:44] dfcook commented on #156
I think the profile should be loaded at point of authentication and stored in the vuex store. It can be triggered in the app created event if the token is already in localStorage.

[2018-02-10 13:04] joshmorel commented on #156
Good point. We just need to tweak when `fetchProfile` is called and me is set on the front-end. Currently, while doing manual testing the previous user is the vuex store if I don't re-fetch me. An edge case for real world scenarios , but still not a good thing! I'll close this issue and open a new issue on the front-end.

[2018-02-10 13:04] #156 closed

[2018-02-14 19:42] jasonify opened #159 "We shouldn't allow usernames with blank spaces?"
Might be convinced to allow them in between but right now we have a few users with usernames that have spaces at the end / start which I am assuming were mistakes when inputting them (6 people).

Example of usernames  with spaces in between, we have a few (6) like this:
Some User
Jeff Butter

[2018-02-15 05:06] crablar commented on #159
We could replace old users with blank spaces with underscores and disallow it going forward.

[2018-02-20 23:45] joshmorel opened #161 "Add GET /users/{username} route"
As per discussion in  SoftwareEngineeringDaily/sedaily-front-end#243 profile/username would be ideal but requires a back-end route to GET a user's profile by their username.

Lower urgency since the front-end is implemented but definitely worthwhile.

[2018-02-24 06:36] erikawho opened #166 "Add publication dates to episode pages"

[2018-03-05 23:30] crablar opened #168 "Fix Linter"
We want to have ESLint up to date on this backend code just like it is on the frontend.

[2018-03-05 23:40] jasonify commented on #168
For part 1 we can do : `npm run lint`, quite a list of files and issues.
Part 3: make sure to run the tests :)

[2018-03-06 11:44] v2tmobile commented on #168
I just create a pull request at #169

[2018-03-07 08:18] v2tmobile commented on #168
@crablar this issue should be close cause #169 was merged.

[2018-03-08 12:32] abdulbasitkay commented on #79
Does #149 close this?

[2018-03-08 18:37] #79 closed

[2018-03-12 04:09] crablar opened #173 "Premium RSS Feed for Subscribers"
This has been a request from paid subscribers who do not want to use the mobile app.

[2018-03-12 04:28] gmemstr commented on #173
Going to take a peek at this, I'm going to use Patreon's RSS model as an example (e.g https://www.patreon.com/rss/patreon?auth=xxxxxxxxxxxxxxxxxx). Curious how the current RSS feed works anyways.

[2018-03-12 04:30] gmemstr commented on #56
#70 fix this?

[2018-03-12 04:39] crablar commented on #173
The premium feed would access the S3 bucket containing the ad-free episodes. But that bucket does not impose an index over the episodes.

Jason implemented this and can explain more to you.

[2018-03-12 15:50] gmemstr commented on #173
Looks like feeds are always returned as JSON so I'm going to work to implement RSS as well, also will look into unique RSS auth tokens - will ping Jason later on some of these.

[2018-03-12 17:41] #56 closed

[2018-03-12 19:13] jasonify opened #174 "Deleted comments should return empty content property or an alternate msg"
Right now the client has to handle this but it should be the server to handle this. If a comment is marked as deleted, it should still return with other comments but it should not include the content field. Maybe include: 'This comment was deleted' or simply 'Deleted'.

We are not actually deleting comments just in case we ever need to reference them later.

[2018-03-16 12:55] joshmorel opened #177 "related-link 500 error when not authenticated"
There is a new error in develop branch when not authenticated.

I'm pretty sure it's caused by switching to `votes.forEach` in the `relatedLink.model.js` `RelatedLinkSchema.statics.list` function in commit 8e69d003dc3ec6dbb893a8e1f01bd4e2aa5287cf

Here is the truncated error:

[code]

[2018-03-18 17:06] joshmorel commented on #177
I see now it is master and production

[2018-03-19 17:28] jasonify commented on #177
Sorry what do you mean by master and production?

[2018-03-19 18:28] joshmorel commented on #177
When I first noticed it, it was only in the develop branch. Now it is in the master branch and deployed production app (softwaredaily.com)

See below - if you are not logged in:

1) the related links are not displayed
2) the XHR returns a 500 error response

![related-links-issue](https://user-images.githubusercontent.com/10546720/37614567-71a54f76-2b81-11e8-8403-c6719fc65309.png)

[2018-03-19 19:51] jasonify commented on #177
I see what you are saying now thanks. So sounds like it was a regression introduced in the last push.

[2018-03-19 21:34] jasonify opened #179 "Eslinter should not require indentation on .then / promises"
Should be allowed to stay at same level as previous line.
Desired:
[code]

[2018-03-21 22:10] gmemstr commented on #173
So from what I can tell, I don't think RSS readers (generally) support pagination very well, so theres a few ways I can see going about implementing the actual serving of the feed:

1. When a new post is added, generate a new adfree RSS feed _file_ and serve on request

2. Generate feed from last 10 posts on demand - not ideal due to overhead and limited scope

3. Iterate over ENTIRE database and

[2018-03-22 04:51] crablar commented on #173
4 is a great solution. The names of the files should all be consistent so I expect it to work.

[2018-03-22 05:24] TheHollidayInn commented on #173
I think you should just validate the token, query the ad free episodes, then return RSS/XML using a lib as the result.

If you are worried about showing too many posts, you should limit the number of post to the number returned on the main RSS which I think is about 100. I think pulling rss from the main site is going to be slower than the DB query.

[2018-03-23 10:28] abdulbasitkay commented on #174
Is anybody working in this? I'd like to.
To clarify, the returned body for a deleted comment would be something like this:
`{
  "result": {
    "_id": "507f1f77bcf86cd799439010",
    "__v": 0,
    "content": "Deleted",
    "dateCreated": "2017-10-30T01:05:39.674Z",
    "author": "507f1f77bcf86cd799439010",
    "post": "507f1f77bcf86cd799439010",
    "deleteed": true
  }
}`

[2018-03-23 10:32] jasonify commented on #174
Nobody else is working on it :) & yeah thats right, let me know if you have any more questions.

[2018-03-23 20:16] jasonify commented on #174
A nice to have (should be another issue) is to add the timestamp of deletion. I think the same applies to last edited. Should be part of the model I think.

[code]

[2018-03-23 22:58] abdulbasitkay commented on #174
They're really good suggestions and I thinks they should be different issues. I can do the timestamp thing but a bit cautious of have scope creep on this issue.

[2018-03-26 17:52] jasonify opened #188 "Have API support order by "latest activity" and also "by date posted" for forum threads"
The default is for latest activity (i.e comments, eventually upvotes too).

[2018-03-26 18:07] jasonify opened #189 "Add the timestamp of deletion (for comments + threads)"
Add the timestamp of deletion.. Should be part of the model I think.
Querying a thread should not return it's contents (currently does if you have the id).

[code]

[2018-03-26 18:08] jasonify opened #190 "Last edited concept to threads + comments"
Many communities offer this and I think it would be a nice to have:

[code]

[2018-03-26 18:13] abdulbasitkay commented on #189
check pull request #187, it adds deletion timestamp for comments

[2018-03-28 22:47] erikawho commented on #146
Hi Jeff, is this something I should do, where I convert those files to mp3 and swap out in Libsyn, or do we want to have something set up on the site to handle the conversion?

[2018-03-28 22:48] #166 closed

[2018-03-30 09:58] abdulbasitkay commented on #49
@jasonify, It would be nice to have the body of your postman requests here

[2018-03-30 16:07] abdulbasitkay commented on #154
looks like this has been done?

[2018-03-30 16:19] #154 closed

[2018-04-09 19:42] jasonify opened #198 "Deleted forum posts should not be returned in forum/{id}"

[2018-04-10 17:02] jasonify opened #199 "Bookmarks are not coming down with votes if votes === 0"
route: `https://software-enginnering-daily-api.herokuapp.com/api/users/me/bookmarked` does not return a score field for podcasts with 0 votes.

[2018-04-11 19:40] gmemstr commented on #173
Hey so quick update, I'm going to have to put this on hold on my end because between a new job and another project I don't have enough time to implement this right now :( If anyone else wants to take over feel free, I have the code I've done thus far over in my repository.

[2018-04-11 19:50] jasonify opened #201 "Pagination for forum"

[2018-04-11 19:50] #201 closed

[2018-04-11 20:24] crablar commented on #173
Understood! Thanks for the update Gabe. Congrats on the new job.

[2018-04-12 00:03] jasonify opened #203 "I'm seeing a failed JWT token issue from Travis a few times now"
Any ideas? @andrewmarklloyd  or @joshmorel  ?
<img width="1114" alt="screen shot 2018-04-11 at 5 01 28 pm" src="https://user-images.githubusercontent.com/150265/38649181-133bce0c-3daa-11e8-84d5-0ca1a408e8c2.png">

[2018-04-12 00:03] jasonify commented on #203
Restarting it by hand fixes it but seems weird.

[2018-04-12 00:08] jasonify opened #204 "Silent warning with email notifications for replies to episode posts"
Only supports threads for now but should support posts too.

[code]

[code]

[2018-04-12 00:52] andrewmarklloyd commented on #203
Might be a timeout issue. Do you have a full build trace?

[2018-04-12 00:57] andrewmarklloyd commented on #203
Actually I think this is it https://travis-ci.org/SoftwareEngineeringDaily/software-engineering-daily-api/builds/364848062

[2018-04-18 15:48] #57 closed

[2018-04-18 21:48] crablar opened #213 "Improve Search"
Add fuzzy matching

Potentially:
-indexing by tags (search for "databases" should maybe take into account episodes with that tag unless it would be too noisy)
-search by date

[2018-04-25 16:27] crablar opened #221 "Listener Data Management"
We need an API for getting a user's listened history. I'm not sure where the listen data is stored (InfluxDB, Firebase?) but it is definitely not easily accessible.

Once we have that API, it will be much easier to build:
- a custom recommendation system (we should probably replace our Raccoon powered one eventually)
- the ability to serve related links to people
- other collaborative filtering re

[2018-04-25 18:29] andrewmarklloyd commented on #221
I believe the user's listening history is stored in Mongo via the API, right @TheHollidayInn?

[2018-04-26 23:58] #177 closed

[2018-04-27 00:01] #199 closed

[2018-04-30 17:31] andrewmarklloyd opened #225 "Add better error reporting to event stream"
@tyler-furby @abdulbasitkay @jasonify @joshmorel  I'm looking into better error reporting for the API. Currently it's up to each controller (or any class) to use the `sendError` helper. Here's an [example usage](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/server/controllers/auth.controller.js#L229). What if instead we abstracted it to the [APIError.js](h

[2018-04-30 18:30] andrewmarklloyd commented on #225
#226 fixes an issue with the event stream API. It should be merged before we can make changes concerning this issue

[2018-05-01 17:14] abdulbasitkay commented on #225
@andrewmarklloyd What you're proposing would be a better way to report an error but did you notice that not all `APIError` are reported to the event stream. We could either just stream every error or have way to specify which APIError is.

[2018-05-01 20:01] andrewmarklloyd commented on #225
@abdulbasitkay I did see that. It’s only being sent in two classes right now. I was thinking if we just stream the error in APIError itself then people would not need to stream it in each class

[2018-05-02 11:15] abdulbasitkay commented on #225
@andrewmarklloyd Okay that makes sense. If there isn't any drawback to streaming every error then I think we could go ahead with that.

[2018-05-08 20:25] jasonify opened #229 "Plan + spec API For listen history"
Kinda like youtube history:

example request: {user: “jeffm”}
Example response: { [ {title: “Kubernetes with Josh Butter”, percent_listened: “.62”}, {title: “ReactJS with Cardinal Goaf”, percent_listened: “.38”}]}

[2018-05-08 20:34] jasonify opened #230 "Research + Plan / spec most popular episodes API"
Right now it's done by votes but I think we also want by views/listens.

Required:
[ ] import libsyn data
[ ] integrate with lybsyn somehow? research
[ ] track listens from now on

[2018-05-09 03:33] crablar commented on #230
We can do a monthly manual export, that's not too much trouble.

[2018-05-10 14:16] jasonify opened #234 "Fix dates with episodes, off by one"
Probably involves the miner + some migration scripts.

[2018-05-11 00:17] #27 closed

[2018-05-12 18:13] crablar opened #235 "Easy Onboarding with Cloud9"
We'd like to make it very easy to get started with backend or frontend web development using Cloud9.

https://c9.io/announcement

-What are the steps to doing this?
-Is there someone looking for AWS experience that wants to research/implement this?

[2018-05-13 22:49] crablar opened #236 "Create Script to Take Libsyn Listens And Add Them To Episodes"
@erikawho please do an export to CSV of our listener data when you get the chance and attach it here

To write the script:
1. look through CSV to find mp3 titles to map the data to the posts
2. add the listens count to the posts

[2018-05-14 17:50] jasonify opened #237 "Disable eslint error on arrow function with one line"
A good example is found in forumThread.model.js

[code]

[2018-05-15 12:02] joshmorel opened #238 "Better and more consistent approach to env config"
As referenced in #231  - there are too many items in `/config/config.js` that are required `env` variables but only really relevant to production, (maybe) staging, and for specific devs working on those features. These are those related to external services - Stripe, Mail Chimp, etc.  They're not relevant to CI and for most devs doing core app work.

I also noticed when starting to look at this th

[2018-05-15 17:10] jasonify commented on #238
Ahh yeah we need to be a bit more consistent.

I think keeping the config.js would get my upvote.
Can we just leave the defaults inside the .env.example?

This would let everyone quickly see everything that is being used and it would also mean it can throw a nice error / warning  in production in case those keys are ever missing.

[2018-05-15 17:30] andrewmarklloyd commented on #238
I agree with @jasonify it would help with debugging in production and cause the least amount of changes.

It’s a good call yo centralize the other services variables in the config.js too

[2018-05-15 21:09] erikawho commented on #236
Many of the stats look low because Libsyn moved over to a new stats system. I don't know if you want me to go back to their legacy stats side and try to export and then we combine all the data...
[Software Engineering Daily.csv.zip](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/files/2006710/Software.Engineering.Daily.csv.zip)

Or I could call/email them and see if the

[2018-05-15 21:57] joshmorel commented on #238
Yep what your saying makes sense.

I would suggest then - to address the original issue - we can just copy the `.env.example` file for ci docker image to fulfill `Joi` requirements - but if there is anything important (e.g. mongo uri) we can define it in the Dockerfile. `dotenv` will [not overwrite any existing environment variables](https://github.com/motdotla/dotenv#what-happens-to-environment-v

[2018-05-15 22:41] joshmorel commented on #238
One other thing - how do we use these? I see they are used in the raccoon library config but not sure if we have to worry about defining these in `.env` or `/config/config.js`?

[code]

[2018-05-15 23:57] joshmorel commented on #238
Okay - I'm starting to see the difference between `.env.local_example` and `.env.docker_example` now. Docker uses `mongo` and `redis` instead of `localhost`. Maybe keeping both is okay or we just provide a comment in the example for those using Docker.

[2018-05-16 03:47] crablar commented on #236
We do need that legacy data set as well. Is there a way to export it?

On Tue, May 15, 2018 at 2:09 PM, Erika Hokanson <notifications@github.com>
wrote:

--
Thanks,
Jeff Meyerson
Host of Software Engineering Daily
<http://www.softwareengineeringdaily.com/>
@the_prion on Twitter
512-217-0273

[2018-05-17 16:34] erikawho commented on #236
Here at the stats from both the old and new Libsyn stats system, unfortunately the numbers will need to be combined and tallied. Will you need these reports updated every week?
[SEDaily_Stats_05_16_2018.zip](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/files/2014033/SEDaily_Stats_05_16_2018.zip)

[2018-05-17 21:39] crablar commented on #236
Nope--once should be enough.

[2018-05-19 23:15] abdulbasitkay commented on #235
@crablar I am looking into this but would need an IAM user account for AWS.

[2018-05-20 22:37] crablar commented on #235
Are you able to create it under your own IAM credentials?

On Sat, May 19, 2018 at 4:15 PM, AbdulBasit Kabir <notifications@github.com>
wrote:

--
Thanks,
Jeff Meyerson
Host of Software Engineering Daily
<http://www.softwareengineeringdaily.com/>
@the_prion on Twitter
512-217-0273

[2018-05-22 06:38] abdulbasitkay commented on #235
yes I have, Although still trying to fully understand it.

[2018-05-24 11:36] hassanfarid opened #250 "Backend API architecture"
Hello,

I am starting new to this project. I was able to get it running using `docker-compose`, but honestly I have no idea where to get started from there on. I have tried to read [Backend-GettingStarted](https://softwareengineeringdaily.github.io/Backend/gettingstarted/) - not much of a guide.

Am I missing something? I started reading some code, and found where are swagger documentation. `/api/

[2018-05-25 00:08] jasonify commented on #250
We've talked about adding this just a few days ago but sadly we haven't really had the time to do that yet.

Perhaps starting by looking at the routes and tests might be a good place to get a sense of the core?

[2018-05-25 07:26] hassanfarid commented on #250
I agree. I was thinking to start reading code, to make sense of it. Thanks for giving a direction.

[2018-05-25 07:32] hassanfarid commented on #35
1) What fields do we have for search in post object?
2) Do we have category or tag description text as well?
3) What search relevance algorithm will best fit here?

[2018-05-25 07:33] hassanfarid commented on #250
Question: How do I find database model?

I have been able to guess the use of mongodb as data source. Not so sure about redis usecase.

[2018-05-25 11:51] hassanfarid commented on #250
I am familiar with JS, Node. Not familiar with ES6 and mocha test framework.

I started by reading,
* server/models/post.model.js
* server/routes/post.route.js
* server/controllers/post.controller.js
* server/tests/post.test.js

I tried to follow the flow for this request,
[code]

I do understand the flow a bit. The route calls `postCtrl.list` function, which prepares the query and calls `Post.lis

[2018-05-25 18:04] jasonify commented on #250
Hey, yeah I would recommend reading up on express.js since that's what we use and that's the general pattern we follow. You can find their docs and guides here: https://expressjs.com/

I would also recommend following a guide on ES6 since we use it at times and it might cause some confusion.

[2018-05-28 15:01] joshmorel opened #251 "Contributor Pain Points & Ideas"
This is a **discussion** issue where we are inviting all contributors (existing and potential) to bring forth Software Daily Project pain points as well as ideas to address them. These can apply to any of the repos but I've created it here as this is the most active repo.

Pain points are anything that creates friction in your ability to contribute to the Project. It could mostly affect part time

[2018-05-28 15:35] joshmorel commented on #251
### Pain point
The pain point that led me to suggest this has to do with increasing challenges in getting the back-end development environment set-up in such a way that it works like production.

Currently, the [sedaily-miner](https://github.com/SoftwareEngineeringDaily/sedaily-miner) repo is used to populate data from WordPress into the back-end database. When I started, it took a bit to figure o

[2018-05-28 19:38] crablar commented on #251
What if we make the production miner output a single JSON blob to a public file in an S3 bucket?

That way both production and test environments can simply read the JSON blob to have an up-to-date image of the sed site. Deploying the miner will no longer be part of the deployment process.

The miner is currently broken in prod because we redesigned the site, so @jasonify will be looking at it imme

[2018-05-30 15:34] crablar opened #252 "We Need A Documentation Maintainer"
Our [documentation](https://softwareengineeringdaily.github.io/) is not up to date. We need someone to communicate with the different members in the repos, understand the onboarding process, and regularly update documentation.

If you are interested in doing this, let me know.

[2018-05-30 15:37] crablar opened #253 "Improve Onboarding Experience"
Regarding #251 , we need to simplify the onboarding experience of any new contributor. For each repo, there should be clear steps to getting started.

[2018-05-30 17:46] joshmorel commented on #251
Well written @hassanfarid ! For item 1 - this was something that @andrewmarklloyd and I had been working on, however, as well as just well life/business, the main serious blocker was the non-explicit dependency of the overall architecture on `sedaily-miner` referenced above. I think if we resolve that we can really move forward with the effective dockerization of this project.

[2018-05-30 18:52] andrewmarklloyd commented on #251
Yeah it’s been a crazy 2 weeks @joshmorel, sorry for dropping off the map. I think I’m at a place where I can work on it again. Although like you said, if the miner stuff needs working out then my vision of dockerizing the project will change.

[2018-05-30 21:32] andrewmarklloyd commented on #251
## Pain point
Since I've been working mostly in devops, I am dependent on getting @jasonify or @crablar to configure Heroku settings, Google Domains, Slack or other tools since they require elevated permissions.

## Ideas
I'm not sure if there are any fixes for the issues I have other than getting elevated permissions.

[2018-05-30 22:32] jasonify commented on #251
Re: the miner.

I believe there are two biggish problems with the miner currently.

- One is that it is running on Heroku Scheduler which we've found to be a bit unreliable even when we are using the paid version (they state it is not guaranteed).

- Two, it is not relying on the RSS feed directly like most Podcast apps seem to be doing (they didn't break when our own site did). We are using this:

[2018-05-31 11:01] hassanfarid commented on #251
@crablar - **Was https://softwareengineeringdaily.github.io/ useful at all?**

Yes, it was helpful to some extent. The getting started guide for frontend and backend was helpful, but only worked for backend and had some dependency issues or frontend, as mentioned earlier.

How can be made more helpful? - I think we can add scripts that gets them up and running (possibly using docker), and document

[2018-05-31 11:13] hassanfarid commented on #251
@andrewmarklloyd , @joshmorel - For dockerized solution for the complete sedaily stack, I had following thoughts.

I see that we already have this repository, `sedaily-devops` which has been setup for only Logging, Monitoring, and Analytics. I think this repository should be one place to hold all deployment scripts across all components (frontend, backend, utilities + monitoring and analytics). Al

[2018-05-31 15:13] andrewmarklloyd commented on #251
@hassanfarid that's a good idea about consolidating all scripts to the `sedaily-devops`. Although we don't really deploy using Docker, everything is running on Heroku. So the deployment 'scripts' are really just pushing code to Heroku, and it handles the actual deployment. The Dockerized scripts i've been working on were more geared towards setting up a development environment.

[2018-05-31 17:30] tyler-furby opened #254 "Add "upvoted" and "downvoted" to 'listened' api, for recent activity feed"
I am implementing this feature [#519](https://github.com/SoftwareEngineeringDaily/sedaily-front-end/pull/519) &  I would appreciate some help with this part, the problem is the `upvoted` and `downvoted` properties are not being included with the listened podcasts, without them, voting arrows do not work on the activity feed.

Any ideas @andrewmarklloyd @joshmorel ?

[2018-06-05 22:44] crablar opened #256 "Ability to Save to Listen Later From Desktop To Phone"

[2018-08-27 19:50] #22 closed

[2018-10-08 21:16] andrewmarklloyd opened #271 "Add section to readme for env vars"
Env vars is a relatively complex issue between local dev, CI, review apps, production etc. We need to be very explicit about when adding new env vars how that affects all of these processes.

[2018-10-11 11:29] dasimandl commented on #256
@crablar @andrewmarklloyd Can you please clarify this issue? My interpretation is:
 1. Save the user's last played position for a specific episode that is currently playing
      - User Story: User is listening on desktop, must leave to mobile, and if clicked they can save
          position and pickup where left off
 2. list of episodes that will be displayed on user profile desktop/mobile marked

[2018-10-15 03:55] crablar opened #274 "Automatically Scrape "Show Notes" and add them to "Related Links""
We are now posting detailed show notes on softwareengineeringdaily.com, which include links as well as links to previous episodes. See [this post for example](https://softwareengineeringdaily.com/2018/09/28/prisma-graphql-infrastructure-with-soren-bramer-schmidt/).

When we scrape softwareengineeringdaily.com, we should also scrape the show description and show notes for links to add.

We should _

[2018-10-15 03:56] crablar commented on #274
Bulk of this change might take place in miner.

related to https://github.com/SoftwareEngineeringDaily/sedaily-miner/issues/25

[2019-04-08 18:02] crablar opened #283 "Create Wiki Feature Backend"
Users should be able to collaboratively write a wiki of each episode. This would give a more readable format of the episode and topic than the transcript.

Frontend issue: https://github.com/SoftwareEngineeringDaily/sedaily-front-end/issues/588

[2019-07-04 21:39] rugglcon commented on #198
I'll take this over

[2019-07-06 19:34] #237 closed

[2019-07-21 02:06] #179 closed

[2019-07-21 02:06] #188 closed

[2019-07-21 02:06] #189 closed

[2019-07-21 02:06] #190 closed

[2019-07-21 02:06] #198 closed

[2019-07-21 02:06] #203 closed

[2019-07-21 02:06] #204 closed

[2019-07-21 02:06] #213 closed

[2019-07-21 02:06] #221 closed

[2019-07-21 02:06] #225 closed

[2019-07-21 02:06] #229 closed

[2019-07-21 02:06] #230 closed

[2019-07-21 02:06] #234 closed

[2019-07-21 02:06] #235 closed

[2019-07-21 02:06] #236 closed

[2019-07-21 02:06] #238 closed

[2019-07-21 02:06] #250 closed

[2019-07-21 02:06] #251 closed

[2019-07-21 02:06] #252 closed

[2019-07-21 02:06] #253 closed

[2019-07-21 02:06] #254 closed

[2019-07-21 02:06] #256 closed

[2019-07-21 02:06] #271 closed

[2019-07-21 02:06] #274 closed

[2019-07-21 02:06] #283 closed

[2019-07-21 02:09] #45 closed

[2019-07-21 02:09] #47 closed

[2019-07-21 02:09] #49 closed

[2019-07-21 02:09] #50 closed

[2019-07-21 02:09] #53 closed

[2019-07-21 02:09] #58 closed

[2019-07-21 02:09] #59 closed

[2019-07-21 02:09] #69 closed

[2019-07-21 02:09] #75 closed

[2019-07-21 02:09] #76 closed

[2019-07-21 02:09] #77 closed

[2019-07-21 02:09] #82 closed

[2019-07-21 02:09] #85 closed

[2019-07-21 02:09] #90 closed

[2019-07-21 02:09] #109 closed

[2019-07-21 02:09] #126 closed

[2019-07-21 02:09] #133 closed

[2019-07-21 02:09] #134 closed

[2019-07-21 02:09] #146 closed

[2019-07-21 02:09] #153 closed

[2019-07-21 02:09] #155 closed

[2019-07-21 02:09] #159 closed

[2019-07-21 02:09] #161 closed

[2019-07-21 02:09] #173 closed

[2019-07-21 02:09] #174 closed

[2019-07-21 02:09] #9 closed

[2019-07-21 02:09] #29 closed

[2019-07-21 02:09] #30 closed

[2019-07-21 02:09] #32 closed

[2019-07-21 02:09] #33 closed

[2019-07-21 02:09] #35 closed

[2019-07-21 02:09] #36 closed

[2019-07-21 02:09] #39 closed

[2019-07-21 02:09] #44 closed

[2019-07-27 22:22] crablar opened #298 "Create notifications backend"
This is a complicated feature. Please discuss your approach before you begin coding.

Requirements:
- when user comments on an episode, they receive a notification for subsequent comments; this will be the only reason a notification will appear in the MVP
- notification read status should be unified across mobile and desktop

[2019-07-27 22:45] crablar opened #299 "Architect badge system"
We need someone to spec out details and lead the Badges project: https://docs.google.com/document/d/1-w3_ZLdbYl3vvwEGBtGzRrF6cx38LRyn-U3fhBiH6RY/edit#

[2019-07-27 22:48] crablar opened #300 "Guest object system project"
We need someone to lead the backend and frontend spec, then lead the implementation on the following:

- Add a "guest" model in the database
- Users should be able to add episodes that relate to a guest
- There should be a /guest/* page for each guest, and that page should list all of their episodes
- Guest icons are clickable and list all of that guest’s episodes

[2019-08-16 21:44] mglaman opened #301 "Missing `AWS_PROFILE_PIC_BUCKET_NAME` in development image tag"
Cannot run  `softwaredaily/sedaily-rest-api:develop` as part of frontend development due to missing constant configuration.

[code]

[2019-08-16 22:21] mglaman commented on #301
FWIW cloning the project and running it via docker-composer works, just not the `backend/docker-compose.yml` from the frontend repository.

[2019-08-16 22:56] andrewmarklloyd commented on #301
@mglaman good catch. Looks like when I updated some configs I didn't add that env var to the [.env.ci](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/develop/devops/.env.ci), which is used to build the backend docker image, which is then used by the frontend. If you want, you can create a PR to reconcile any diff between that file and the [.env.example](https://git

[2019-08-16 23:00] mglaman commented on #301
Will do!

[2019-08-16 23:59] andrewmarklloyd commented on #301
@mglaman I was already in the repo and I added this to the `.env.ci`. Note that I also moved from using the `develop` tag to using `latest`, including in the [front end repo](https://github.com/SoftwareEngineeringDaily/sedaily-front-end/blob/develop/backend/docker-compose.yml).

[2019-08-17 00:21] andrewmarklloyd commented on #301
Looks like I missed another one but I added and all is working.

[2019-08-17 00:21] #301 closed

[2019-08-17 04:38] mglaman opened #302 "As a listener, I would like to filter out episodes I have listened to"
It would be great if episodes can be flagged as "listened", either automatically when played or manual. Like Audible.

[2019-08-17 05:01] andrewmarklloyd commented on #302
I believe we have an endpoint for this. We would just need to add a front end piece.

[2019-08-19 03:28] mglaman opened #306 "Prevent broken `author` ObjectId references in forumthreads collection"
Coming from https://github.com/SoftwareEngineeringDaily/sedaily-front-end/issues/617

`build-mongodb.sh` should update the forumthread.author property to the forumAdmin user. Or generate a dummy user which items are attributed to. That way no legitimate user collection items needed to be copied.

[2019-08-19 04:17] andrewmarklloyd commented on #306
We could do something like this: `bsondump  forumthreads.bson | jq -r '.author["$oid"] = "<new-oid>"'`. Still investigating more though

[2019-08-20 21:29] mglaman opened #307 "MP3 URL is not provided as https"
The episode URL for the podcast is provided as `http` and not `https` by the API response.

![Screen Shot 2019-08-20 at 4 28 46 PM](https://user-images.githubusercontent.com/3698644/63385994-aba0ca00-c367-11e9-8680-5b1859af147b.png)

[2019-09-08 09:57] samuelrey commented on #302
Any updates on this? @mglaman is this something that you plan to work on?

[2020-02-13 14:22] marcosschlup opened #312 "New route with less user info for comments"
Today, the route that brings user data to comment tags have all the users and all the user data (like e-mail). We consider this a security flaw.

The goal is to create a new route with only the data needed for the comment tags

[2020-02-14 21:31] #312 closed

[2020-02-23 14:23] ashishkharcheiu opened #316 "[Help] How to populate Posts? I could not find any POST request to populate /api/posts"
I am an Android Developer and new to Mern.

How to populate /api/posts? Right now on cloning the developer branch, the collection posts are empty.

I looked at swagger docs, but could not find a POST request to populate /api/posts, only GET request is provided.

In your production url: https://software-enginnering-daily-api.herokuapp.com/api/posts, how were you able to add the posts as there is no

[2020-02-24 15:56] andrewmarklloyd commented on #316
@ashishkharcheiu you can use Docker to run the API and the database which has data already seeded. Check out the [README](https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api#getting-started) for how to run it.

[2020-02-24 16:12] ashishkharcheiu commented on #316
@andrewmarklloyd Backend is running with MongoDB using docker. I have looked at SWAGGER API docs as well.

When we run the app, the "posts" collection is empty. The ISSUE I am asking to assist with is "how do we fill the collection "posts" with data, as I could not see any POST request for it.

In the below link, https://software-enginnering-daily-api.herokuapp.com/api/posts you see the data is av

[2020-02-24 16:34] andrewmarklloyd commented on #316
@ashishkharcheiu my apologies, I was confusing two of the repos. I was thinking about the front-end repo which references the pre-seeded Docker image. If you take a look at [the front-end repo readme](https://github.com/SoftwareEngineeringDaily/sedaily-front-end/blob/master/README.md#getting-started) it talks about using that image. You can basically use this docker-compose file instead
https://gi

[2020-02-24 17:49] ashishkharcheiu commented on #316
@andrewmarklloyd I read the README in front-end repo and also ran the vue App.

But it was not related to the issue it seems. I am going to write what I expected with backend and what I received to convey my issue better.

- https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api -> Clone the repo and run as per README in the api-repo.

- Use POSTMAN and create "posts" through a

[2020-02-25 01:57] andrewmarklloyd commented on #316
@ashishkharcheiu the only way to populate data is through adding to the database. The posts actually come from the Wordpress API via the [sedaily-miner](https://github.com/softwareengineeringdaily/sedaily-miner). If you're looking only to use the API with pre-seeded data then you should be able to accomplish it this way:
[code]
Then open your browser to http://localhost:4040/api/posts.

[2020-03-01 23:01] crablar opened #320 "Bookmarks Question"
Is bookmarking purely client side, or could we potentially build a way to bookmark on the web frontend and users are able to listen on to their bookmarked episodes on mobile?

[2020-03-01 23:06] sterlingrules commented on #320
For persistent bookmarking, it would not be purely client-side. We could definitely offer bookmarking on the web, as well as store a user's bookmarks and have them retrieved on mobile.

[2020-03-01 23:21] andrewmarklloyd commented on #320
I think this is partially implemented, at least on the backend: https://github.com/SoftwareEngineeringDaily/software-engineering-daily-api/blob/master/server/controllers/bookmark.controller.js

[2020-03-02 05:26] crablar commented on #320
@MostafaGazar @thedc89 do you know if bookmarking is synced with the backend?

[2020-03-02 13:03] marcosschlup commented on #320
We have a ready structure (and records in the db as **favorites**) but we have nothing in the Frontend. We need to add.

In the Frontend sketch I did not find a reference for the bookmark. I think we're going to have to invent one.

[2020-03-02 18:16] thedc89 commented on #320
I think the mechanism for bookmarking is already there. When you look at the API response (provided that user is authenticated), it sends both _**upvoted**_ and _**bookmarked**_ boolean values.

I use it in iOS version to display which episode has already been upvoted/bookmarked. I think we can do it pretty much the same way on the web without any backend modifications required.

[2020-03-02 19:39] crablar commented on #320
Thanks @thedc89 !

[2020-03-03 00:33] MostafaGazar commented on #320
Just concurring that bookmarks are tracked on the backend. This means you have to logged in to use this feature on Android.

[2020-03-04 04:22] crablar opened #326 "Rename Backend Heroku API"
The backend API has a misspelling (software-enginnering-daily-api)

[2020-03-06 16:59] sterlingrules commented on #320
Bookmarks have been added https://github.com/SoftwareEngineeringDaily/sedaily-front-end/pull/667

[2020-03-06 16:59] #320 closed

[2020-04-01 00:41] crablar opened #343 "Migrate to Render"

[2020-06-28 00:29] DGKSK8LIFE opened #404 "Migrate api code to typescript"

[2020-06-28 00:36] DGKSK8LIFE opened #405 "Migrate api to graphql for easier cross-platform access and addressability on the frontend"